<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/web/js/util/head.js"></script>
    <script src="/web/js/util/test.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //声明数据
            const pageData = {
                userName: {val: 'admin', asb: 'hello'},
                password: {val: 123456},
                login: {val: '提交按钮'}
            };
            //绑定数据
            loadData(pageData);
        });
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Hello, world!</title>


</head>


<body>


<div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">用户名</span>
        </div>
        <input id="userName" type="text" class="form-control" placeholder="请输入用户名" aria-label="请输入用户名" aria-describedby="basic-addon1">
    </div>

    <input id="password" type="password" placeholder="请输入密码">
    <button type="button" name="login" id="login">登陆</button>
    <input id="ajaxDataCode" type="text">
    <input id="ajaxDataResultMsg" type="text">


    <h1>Hello, world!</h1>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#login").click(function () {
            let userName = $("#userName").val();
            let userPassword = $("#password").val();
            if (checkUser(userName, userPassword)) {
                add(userName, userPassword);
            }
        });

        function checkUser(userName, password) {
            if (isEmpty(userName)) {
                alert("用户名不能为空");
                return false;
            }
            if (isEmpty(password)) {
                alert("密码不能为空");
                return false;
            }
            return true;
        }

        function isNotEmpty(data) {
            if (data != null && data != '') {
                return true;
            }
            return false;
        }

        function isEmpty(data) {
            return !isNotEmpty(data);
        }

        function server_request_callback(data) {
            alert(data.resultMsg);
        }
    });

</script>
</html>