<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <script src="/web/js/util/dataBind.js"></script>
    <script src="/web/js/util/test.js"></script>
</head>

<script type="text/javascript">


</script>


<body>
<div>
    <input id="userName" type="text" placeholder="请输入用户名">
    <input id="password" type="password" placeholder="请输入密码">
    <button onclick="f()" type="button" name="login" id="login"></button>
</div>
</body>
<script type="text/javascript">

    const data1 = {
        userName: {val: 'admin', readOnly: true},
        password: {val: 123456},
        login: {val: '提交按钮'}
    };
    loadData(data1);

    function f() {
        data1.userName.val = '差安徽';
    }
</script>
</html>