//常量
const $[constant_name] = $[constant_value];

/**
 * 方法
 */
function $[method_name]($[formData]) {let formData=$[formDataValue];serverRequestMirror($[method_path], formData);}

/**
 * 基础服务方法
 */
function serverRequestMirror(path, formData) {serverRequest($[moudle_path] + path, formData);}